<h1 mat-dialog-title>Zmień hasło</h1>
<div mat-dialog-content>
    <mat-form-field class="form-field" appearance="fill">
        <mat-label>Hasło</mat-label>
        <input matInput [formControl]="changePasswordGroup.controls.passwordControl" type="password">
    </mat-form-field>
    <mat-form-field class="form-field" appearance="fill">
        <mat-label>Potwierdź hasło</mat-label>
        <input matInput [formControl]="changePasswordGroup.controls.confirmPasswordControl" type="password">
    </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-button mat-dialog-close>Anuluj</button>
  <button mat-button disabled [disabled]="!isValid" mat-dialog-close cdkFocusInitial [mat-dialog-close]="data">Potwierdź</button>
</div>