<mat-toolbar color="primary">
    <div class="middle">
        <mat-form-field class="example-form-field" appearance="fill">
            <mat-label>Wyszukiwana fraza</mat-label>
            <input matInput [formControl]="searchedPhrase" type="text">
        </mat-form-field>
        <mat-form-field class="example-form-field" appearance="fill">
            <mat-label>Miasto</mat-label>
            <input matInput [formControl]="searchesCity" type="text">
        </mat-form-field>
        <button mat-button (click)="navigateToHome()">
            <mat-icon>search</mat-icon>
            Szukaj
        </button>
    </div>
    <span class="example-spacer"></span>
    <button mat-raised-button disabled class="nav-button" [disabled]="!isLogged" (click)="navigateToProfile()">Profil</button>
    <ng-container *ngIf="!isLogged">
        <button mat-raised-button class="nav-button" (click)="navigateToLogin()">Zaloguj</button>
    </ng-container>
    <ng-container *ngIf="isLogged">
        <button mat-raised-button class="nav-button" (click)="logout()">Wyloguj</button>
    </ng-container>
</mat-toolbar>