<div class="register-container">
    <div class="register-holder">
        <div class="register-title">
            Rejerstracja
        </div>
        <div class="button-holder">
            <mat-form-field class="form-field" appearance="fill">
                <mat-label>Nazwa użytkownika</mat-label>
                <input matInput [formControl]="registerGroup.controls.loginControl" type="text">
            </mat-form-field>
            <mat-form-field class="form-field" appearance="fill">
                <mat-label>Hasło</mat-label>
                <input matInput [formControl]="registerGroup.controls.passwordControl" type="password">
            </mat-form-field>
            <mat-form-field class="form-field" appearance="fill">
                <mat-label>Potwierdź hasło</mat-label>
                <input matInput [formControl]="registerGroup.controls.confirmPasswordControl" type="password">
            </mat-form-field>
            <mat-form-field class="form-field" appearance="fill">
                <mat-label>Email</mat-label>
                <input matInput [formControl]="registerGroup.controls.emailControl" type="email">
            </mat-form-field>
            <mat-form-field class="form-field" appearance="fill">
                <mat-label>Imię</mat-label>
                <input matInput [formControl]="registerGroup.controls.nameControl" type="text">
            </mat-form-field>
            <mat-form-field class="form-field" appearance="fill">
                <mat-label>Nazwisko</mat-label>
                <input matInput [formControl]="registerGroup.controls.surnameControl" type="text">
            </mat-form-field>
        </div>
        <div class="button-container">
            <button mat-raised-button color="primary" (click)="register()" [disabled]="!valid"> Zarejerstruj</button>
            <div class="span-container"><span>* Pola wymagane</span></div>
        </div>
    </div>
</div>